body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

#standingsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#standingsTable th, #standingsTable td {
    border: 1px solid #ccc;
    padding: 10px;
}

#standingsTable th {
    background-color: #555;
}

.gold {
    background-color: dark gold;
}

.silver {
    background-color: dark silver;
}

.bronze {
    background-color: dark yellow;
}
